
material/.ipynb_checkpoints/00-introduction-checkpoint.ipynb
material/.ipynb_checkpoints/01-plotting-checkpoint.ipynb
material/.ipynb_checkpoints/02-streaming-checkpoint.ipynb
material/.ipynb_checkpoints/03-datashader-checkpoint.ipynb
material/.ipynb_checkpoints/04-server-checkpoint.ipynb
